
@font-face {
  font-family: 'SFUFuturaBold';
  src: url('SFUFuturaBold.eot?#iefix') format('embedded-opentype'),  url('SFUFuturaBold.woff') format('woff'), url('SFUFuturaBold.ttf')  format('truetype'), url('SFUFuturaBold.svg#SFUFuturaBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
