
@font-face {
  font-family: 'SFUFuturaOblique';
  src: url('SFUFuturaOblique.eot?#iefix') format('embedded-opentype'),  url('SFUFuturaOblique.woff') format('woff'), url('SFUFuturaOblique.ttf')  format('truetype'), url('SFUFuturaOblique.svg#SFUFuturaOblique') format('svg');
  font-weight: normal;
  font-style: normal;
}
