
@font-face {
  font-family: 'SFUFuturaExtraBold';
  src: url('SFUFuturaExtraBold.eot?#iefix') format('embedded-opentype'),  url('SFUFuturaExtraBold.woff') format('woff'), url('SFUFuturaExtraBold.ttf')  format('truetype'), url('SFUFuturaExtraBold.svg#SFUFuturaExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
