@import "variable.scss";
@font-face {
  font-family: 'SFUFuturaBold';
  src: url('../fonts/SFUFuturaBold/SFUFuturaBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/SFUFuturaBold/SFUFuturaBold.woff') format('woff'), url('../fonts/SFUFuturaBold/SFUFuturaBold.ttf')  format('truetype'), url('../fonts/SFUFuturaBold/SFUFuturaBold.svg#SFUFuturaBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SFUFuturaBook';
  src: url('../fonts/SFUFuturaBook/SFUFuturaBook.eot?#iefix') format('embedded-opentype'),  url('../fonts/SFUFuturaBook/SFUFuturaBook.woff') format('woff'), url('../fonts/SFUFuturaBook/SFUFuturaBook.ttf')  format('truetype'), url('../fonts/SFUFuturaBook/SFUFuturaBook.svg#SFUFuturaBook') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SFUFuturaExtraBold';
  src: url('../fonts/SFUFuturaExtraBold/SFUFuturaExtraBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/SFUFuturaExtraBold/SFUFuturaExtraBold.woff') format('woff'), url('../fonts/SFUFuturaExtraBold/SFUFuturaExtraBold.ttf')  format('truetype'), url('../fonts/SFUFuturaExtraBold/SFUFuturaExtraBold.svg#SFUFuturaExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SFUFuturaHeavy';
  src: url('../fonts/SFUFuturaHeavy/SFUFuturaHeavy.eot?#iefix') format('embedded-opentype'),  url('../fonts/SFUFuturaHeavy/SFUFuturaHeavy.woff') format('woff'), url('../fonts/SFUFuturaHeavy/SFUFuturaHeavy.ttf')  format('truetype'), url('../fonts/SFUFuturaHeavy/SFUFuturaHeavy.svg#SFUFuturaHeavy') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SFUFuturaOblique';
  src: url('../fonts/SFUFuturaOblique/SFUFuturaOblique.eot?#iefix') format('embedded-opentype'),  url('../fonts/SFUFuturaOblique/SFUFuturaOblique.woff') format('woff'), url('../fonts/SFUFuturaOblique/SFUFuturaOblique.ttf')  format('truetype'), url('../fonts/SFUFuturaOblique/SFUFuturaOblique.svg#SFUFuturaOblique') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JosefinSans-SemiBold';
  src: url('../fonts/JosefinSans-SemiBold/JosefinSans-SemiBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/JosefinSans-SemiBold/JosefinSans-SemiBold.woff') format('woff'), url('../fonts/JosefinSans-SemiBold/JosefinSans-SemiBold.ttf')  format('truetype'), url('../fonts/JosefinSans-SemiBold/JosefinSans-SemiBold.svg#JosefinSans-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: "SFUFuturaBook", Arial;
  font-size: $font_size;
  h1,h2,h3,h4{
    font-size: $font_size_large;
    font-family: "SFUFuturaBold", Arial;
    color: $primary_color;
  }
  a,a:hover{
    text-decoration: none;
    outline: none !important;
  }
  .btn{
    background: $second_color;
    border-radius: 0;
    color: $primary_color;
    font-family: "SFUFuturaBold", Arial;
    padding-bottom: 8px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &:hover{
      border: 1px solid $second_color;
      background: #fff;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
  }
}
//header
#header_site{
  padding: 15px 0;
  background: #fff;
  box-shadow: 0 2px 15px rgba(0,0,0,0.1);
    .menu_primary {
      display: flex;
      height: 100%;
      justify-content: center;
      flex-direction: column;
      .navbar-expand-lg{
        background: transparent;
        li{
          a{
            text-transform: uppercase;
            color: #707070;
            font-size: 13px;
          }
        }
      }

    }
    .right-top-nav{
      display: flex;
      height: 100%;
      justify-content: center;
      flex-direction: column;
      li{
        a{
          color: #707070;
          font-size: 13px;
        }
      }
    }
    &.fixed-top.fixed{
      animation: smoothScroll 1s forwards;
      -webkit-animation: smoothScroll 1s forwards;
      -moz-animation: smoothScroll 1s forwards;
      -o-animation: smoothScroll 1s forwards;
      width: 100%;
      background: #fff;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
}
//banner
.banner{
  position: relative;
  &:before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
  }
  .meta_info{
    position: absolute;
    top: 30%;
    left: 20%;
    font-size: 40px;
    color: $second_color;
    font-family: "JosefinSans-SemiBold", Arial;
    svg {
      width: 180px;
      position: absolute;
      left: -100px;
      top: -30px;
    }
    .cls-1 {
      fill: none;
      stroke: #fdb813;
      stroke-width: 2px;
    }
    p{
      margin-bottom: 0;
    }
    h3{
      font-size: $font_size_large;
      text-transform: uppercase;
      font-family: "SFUFuturaBold", Arial;
      color: $second_color;
      margin: 0;
    }


  }

}
//intro
.intro{
  padding-top: 100px;
  background: url($url_image + 'Dbackground.png') no-repeat 5% 50%;
  padding-bottom: 80px;
  h3{
    margin-bottom: 0;
  }
  .intro-right{
    margin-top: 30px;
    text-align: justify;
  }
}
//service
.service{
  background: url($url_image +"servicebg.png") no-repeat left bottom 700px / 100% auto;
  padding-top: 180px;
  p{
    margin-bottom: 0;
  }
  .item_service{
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 30px 0;
    position: relative;
    .title_service{
      font-family: "SFUFuturaBold", Arial;
      font-size: $font_size_medium;
      margin-top: 15px;
      min-height: 50px;
      padding-left: 30px;
      position: relative;
      z-index: 2;
      a{
        color: $primary_color;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
    }
    &:before{
      position: absolute;
      content: "";
      border: 2px solid $second_color;
      height: 100%;
      width: calc(100% - 60px);
      left: 0;
      top: 0;
      pointer-events: none;
    }
    &:after{
      position: absolute;
      content: "";
      border: 2px solid $second_color;
      height: 100%;
      width: 0;
      left: 0;
      top: 0;
      pointer-events: none;
      background: $second_color;
      opacity: 0;
      z-index: 1;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    figure.effect-apollo{
      z-index: 3;
      position: relative;
      margin-left: 30px;
      overflow: hidden;
      img{
        width: 100%;
      }
    }
    &:hover{
      &:after{
        width: calc(100% - 60px);
        opacity: 1;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
      img{
        opacity: 1;
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1);
      }
      figcaption::before {
        -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
        transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
      }
      p {
        opacity: 1;
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
      }
      a{
        color: #fff;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
    }
  }
}
//project
.project{
  background: #f0f0f0 url($url_image + "bgproject.png") no-repeat center center / cover;
  padding: 50px 0;
  h4{
    margin-top: 70px;
    padding-left: 50px;
    position: relative;
    line-height: 90px;
    &:before{
      position: absolute;
      width: 45%;
      height: 100%;
      content: "";
      left: 0;
      top: -60px;
      border: 2px solid $second_color;
    }
    span{
      background-color: #F0F0F0;
      z-index: 1;
      position: relative;
    }
  }

  .item_project{
    margin-top: 50px;
    &.margin-large{
      margin-top: 200px;
    }
    figure{
      position: relative;
      overflow: hidden;
      img{
        width: 100%;
      }
      &:before{
        background: rgba(43,55,132,0.65);
        position: absolute;
        content: "";
        width: 50%;
        height: 50%;
        left: 0;
        top: 0;
        opacity: 0;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
      &:after{
        background: rgba(43,55,132,0.65);
        position: absolute;
        content: "";
        width: 50%;
        height: 50%;
        right: 0;
        bottom: 0;
        opacity: 0;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
      .detail{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: -100%;
        z-index: 3;
        text-align: center;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        a{
          background: $second_color;
          padding: 5px 15px;
          top: 50%;
          left: 50%;
          position: absolute;
          -webkit-transform: translate(-50%,-50%);
          -moz-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
          -o-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
        }
      }
      figcaption{
        &:before{
          background: rgba(43,55,132,0.65);
          position: absolute;
          content: "";
          width: 50%;
          height: 50%;
          right: 0;
          top: 0;
          opacity: 0;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
        }
        &:after{
          background: rgba(43,55,132,0.65);
          position: absolute;
          content: "";
          width: 50%;
          height: 50%;
          left: 0;
          bottom: 0;
          opacity: 0;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
        }
      }
    }
    .title_service{
      font:{
        family: "SFUFuturaBold", Arial;
        size: $font_size_medium;
      }
      color: #808080;
      margin-top: 15px;
      min-height: 50px;
      .position{
        font{
          family: "SFUFuturaBook", Arial;
          size: 14px;
        }
      }
      a{
        color: #808080;
      }
    }
    &:hover{
      figure:before{
       left: 50%;
        opacity: 1;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
      figure:after{
       right: 50%;
        opacity: 1;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
      figcaption:before{
       top: 50%;
        opacity: 1;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
      figcaption:after{
       bottom: 50%;
        opacity: 1;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
      .title_service{
        a{
          color: $primary_color;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
        }

      }
      .detail{
        top: 0;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
    }
  }

}

//footer
#footer-site{
  margin-top: 50px;
  .logo-footer{
    margin-bottom: 15px;
    display: inline-block;
  }
  p{
    margin-bottom: 0;
    color: $primary_color;
  }
  .copyright{
    margin-top: 30px;
  }
  .design-by{
    margin-bottom: 15px;
  }
}


/*-----------------*/
/***** Apollo *****/
/*-----------------*/

figure.effect-apollo {
  img {
    opacity: 1;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(1.05,1.05,1);
    transform: scale3d(1.05,1.05,1);
  }
  figcaption{
    &:before{
      position: absolute;
      z-index: 222;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255,255,255,0.5);
      content: '';
      -webkit-transition: -webkit-transform 0.6s;
      transition: transform 0.6s;
      -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
      transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
    }
  }
  p {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 3em;
    padding: 0 1em;
    max-width: 150px;
    border-right: 4px solid #fff;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
  }
  &:hover {
    img{
      opacity: 1;
      -webkit-transform: scale3d(1,1,1);
      transform: scale3d(1,1,1);
    }
    figcaption::before {
      -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
      transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
    }
    p {
      opacity: 1;
      -webkit-transition-delay: 0.1s;
      transition-delay: 0.1s;
    }
  }
}

@-webkit-keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-moz-keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-o-keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}