
@font-face {
  font-family: 'SFUFuturaHeavy';
  src: url('SFUFuturaHeavy.eot?#iefix') format('embedded-opentype'),  url('SFUFuturaHeavy.woff') format('woff'), url('SFUFuturaHeavy.ttf')  format('truetype'), url('SFUFuturaHeavy.svg#SFUFuturaHeavy') format('svg');
  font-weight: normal;
  font-style: normal;
}
