
@font-face {
  font-family: 'SFUFuturaBook';
  src: url('SFUFuturaBook.eot?#iefix') format('embedded-opentype'),  url('SFUFuturaBook.woff') format('woff'), url('SFUFuturaBook.ttf')  format('truetype'), url('SFUFuturaBook.svg#SFUFuturaBook') format('svg');
  font-weight: normal;
  font-style: normal;
}
